body{background: #f5f5f5}.rounded{border-radius: 1rem}.nav-pills .nav-link{color: #555}.nav-pills .nav-link.active{color: white}input[type="radio"]{margin-right: 5px}.bold{font-weight:bold}
.tab-content>.active {
    display: block;
}
.tab-content>.tab-pane {
    display: none;
}
.fade.show {
    opacity: 1;
}
.pt-3, .py-3 {
    padding-top: 1rem!important;
}
.fade {
    opacity: 0;
    transition: opacity .15s linear;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
.form-group {
    margin-bottom: 1rem;
}
label {
    display: inline-block;
    margin-bottom: 0.5rem;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
label {
    cursor: default;
}
select.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem + 2px);
}
.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
button, select {
    text-transform: none;
}
option:disabled {
    color: -internal-light-dark(graytext, rgb(170, 170, 170));
}
user agent stylesheet
option {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

.fa, .fas {
    font-weight: 900;
}

.fa, .far, .fas {
    font-family: "Font Awesome 5 Free";
}
.fa, .fab, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
.mr-2, .mx-2 {
    margin-right: 0.5rem!important;
}
.nav-pills .nav-link.active {
    color: white;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #007bff;
}
.nav-pills .nav-link {
    color: #555;
}
.nav-pills .nav-link {
    border-radius: 0.25rem;
}
.nav-link {
    display: block;
    padding: 0.5rem 1rem;
}
a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}